*{
    margin: 0;
    padding: 0;
}
body{
    background: #000;
    min-height: 100vh;
    scroll-behavior: smooth;
}
.scrollmooth- {
    scroll-behavior: smooth;
  }
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
.carrusel-img-size{
    height: 100vh;
}
#quienessomos, #destacados, #contacto{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo1, .titulo2, .titulo3{
    color: #fff;
    text-align: center;
}
.linea{
    border: 2px solid;
}
.parrafo{
    color: #fff;
}
.icono-parrafo{
    background-color: aqua;
     color: #fff;
    font-size: 20px;
    padding: 2%;
    display: flex;
    justify-content: center;
}
.color{
    background-color: aqua;
}
.footer {
    background-color: aqua; /* fondo gris claro */
    padding: 20px; /* espacio entre el contenido y el borde */
    display: flex; /* establece un layout flexible */
    justify-content: space-between; /* distribuye los elementos en la línea */
    align-items: center; /* centra los elementos verticalmente */
    padding-left: 25%;
    padding-right: 25%;
}
.titulo-footer{
    margin: 0; /* elimina el margen del título */
    font-weight: none; /* título en negrita */
    color: #fff;
}
.iconos {
    display: flex; /* establece un layout flexible para los iconos */
    align-items:end; /* centra los iconos verticalmente */
}
.iconos span {
    margin: 0 10px; /* espacio entre los iconos */
}
.iconos i {
    font-size: 24px; /* tamaño de los iconos */
    color: #fff; /* color de los iconos */
}
/* Estilos para dispositivos móviles */
@media only screen and (min-width: 300px) and (max-width:800px)  {
    .carousel-control-prev, .carousel-control-next{
        position: absolute;
        top: 50%;
        transform: translateY(-100%);
    }
      
    .carousel-control-prev {
        left: 0;
    }
      
    .carousel-control-next {
        right: 0;
    }
    .carousel-indicators {
        display: none;
    }
   
    .parrafo{
        font-size: 10px;
    }
    #destacados{
        display: none;
    }
    #contacto{
        padding-top: 10%;
    }
    .footer{
        padding-left: 4%;
        padding-right: 4%;
    }
    .titulo-footer{
        font-size: 20px;
    }
    .iconos i{
        font-size: 20px;
    }
     
}  
    
/* Estilos para páginas web completas */
 @media only screen and (min-width: 769px) {
      
}
  